<% if current_user.try(:admin?) %>
  <p>面接者一覧</p>
  <% @interviewees.each do |interviewee| %>
    <p>
      <tr>
        <td><%= interviewee.name %></td>
        <td><%#= link_to '詳細', user_path(user.id) %></td>
      </tr>
    </p>
  <% end %>
  
<% else %>
  <p>面接官一覧</p>
  <% @interviewers.each do |interviewer| %>
    <p>
      <tr>
        <td><%= interviewer.name %></td>
        <td><%#= link_to '詳細', user_path(user.id) %></td>
      </tr>
    </p>
  <% end %>
<% end %>

<br>
<%= link_to 'Back', user_path(current_user.id) %>