<h1>Sign up</h1>

<%= form_with(model: @user, local: true) do |f| %>  
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </P>

  <P>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </P>  

  <P>
    <%= f.label :password %>
    <%= f.text_field :password %>
  </P>

  <P>
    <%= f.label :password_confirmation %>
    <%= f.text_field :password_confirmation %>
  </P>
  
  <p>
    あなたはどっち？
    <%= f.select :admin, [["面接官", true], ["面接者", false]] %>
  </p>
  
  <br>
  <%= f.submit "Create my account" %>
  
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<% end %>