<p>show</p>

<% if logged_in? && current_user.admin == true %>
  <p>あなたは面接官</p>
  <%= link_to '空き日程を投稿', new_schedule_path %>
<% elsif logged_in? && current_user.admin == false %>
  <p>あなたは面接者</p>
  <%= link_to '面接相手を探す', users_path %>
<% end %>




